/* components/DashboardGrid.module.css */
.gridContainer {
    width: 100%;
    height: 878px;
    display: grid;
    grid-template-columns: 0.3923fr 0.353fr 0.2547fr;
    grid-template-rows: 513.4px 128.19px 187.13px;
    gap: 20px;
    grid-template-areas:
        "schedule calendar completed"
        "schedule refer support"
        "schedule trial chat";
}

.todaysSchedule {
    grid-area: schedule;
    background-color: #ede8fa;
}

.calendar {
    grid-area: calendar;
    background-color: #ede8fa;
}

.completedSessions {
    grid-area: completed;
    background-color: #ede8fa;
}

.referFriends {
    grid-area: refer;
    background-color: #ede8fa;
}

.support {
    grid-area: support;
    background-color: #ede8fa;
}

.trialSession {
    grid-area: trial;
    background-color: #ede8fa;
}

.chatBox {
    grid-area: chat;
    background-color: #ede8fa;
}



@media (max-width: 1133px) {
    .gridContainer {
        height: auto;
        min-height: 900px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 350px 120px 240px;
        gap: 15px;
        grid-template-areas:
            "schedule calendar"
            "schedule completed"
            "refer support"
            "trial chat";
    }
}

@media (max-width: 1024px) {
    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 500px 350px 170px 170px 170px;
        gap: 15px;
        grid-template-areas:
            "schedule schedule"
            "calendar calendar"
            "completed completed"
            "refer refer"
            "support support"
            "trial chat";
    }
}

@media (max-width: 778px) {
    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 500px 350px 170px 170px 270px 170px;
        gap: 15px;
        grid-template-areas:
            "schedule schedule"
            "calendar calendar"
            "completed completed"
            "refer refer"
            "support support"
            "chat chat"
            "trial trial"
    }
}

@media (max-width: 639px) {
    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 380px 350px 170px 170px 270px 170px;
        gap: 15px;
        grid-template-areas:
            "schedule schedule"
            "calendar calendar"
            "completed completed"
            "refer refer"
            "support support"
            "chat chat"
            "trial trial"
    }
}



@media (min-width: 1024px) {
    .dashboardTopbox {
        display: none;

    }
}

/* ===============sidebar============================== */

.sidebar {
    position: fixed;
}

@media (min-width: 1895px) {
    .menu {
        display: none;
    }

    .sidebar {
        transform: translateX(0);
        position: static;
    }
}