/* components/DashboardGrid.module.css */
.gridContainer {
    width: 100%;
    height: 878px;
    display: grid;
    grid-template-columns: 2.77fr 3.08fr 2fr;
    grid-template-rows: 513.4px 131.2px 122.6px;
    margin-top: 70px;
    gap: 20px;
    grid-template-areas:
        "calendar schedule  sessionchatbox"
        "support notification  sessionchatbox"
        "refer notification  sessionchatbox";
}

.schedule {
    grid-area: schedule;
    background-color: #ede8fa;
}

.calendar {
    grid-area: calendar;
    background-color: #ede8fa;
}

/* .completedsessions {
    grid-area: completed;

    background-color: #ede8fa;
} */
.sessionchatbox {
    grid-area: sessionchatbox;
    background-color: transparent;
    gap: 20px;
    display: grid;
    grid-template-rows: 378.4px 410.1px;
}

.referfriends {
    grid-area: refer;
    background-color: #ede8fa;
}

.support {
    grid-area: support;
    background-color: #ede8fa;
}

.notifications {
    grid-area: notification;
    background-color: #ede8fa;
}

/* .chatbox {
    grid-area: chat;

    background-color: #ede8fa;
} */





@media (max-width: 1188px) {

  .sessionchatbox {
        grid-area: sessionchatbox;
        background-color: transparent;
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px 400px 170px 170px;
        gap: 15px;
        grid-template-areas:
            "calendar schedule"
            "sessionchatbox sessionchatbox"
            "refer notification"
            "support notification ";
    }

}


@media (max-width: 798px) {
    .sessionchatbox {
        grid-area: sessionchatbox;
        background-color: transparent;
        gap: 20px;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 450px 400px 700px 300px 170px 170px;
        gap: 15px;
        grid-template-areas:
            "calendar calendar"
            "schedule schedule"
            "sessionchatbox sessionchatbox"
            "notification notification"
            "refer refer "
            "support support "
    }
}

@media (max-width: 639px) {

    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 280px 400px 700px 300px 170px 170px;
        gap: 15px;
        grid-template-areas:
            "calendar calendar"
            "schedule schedule"
            "sessionchatbox sessionchatbox"
            "notification notification"
            "refer refer "
            "support support "
    }
}


/* ================================== side bar===================================== */

.sidebar {
    position: fixed;
}

@media (min-width: 1895px) {
    .menu {
        display: none;
    }

    .sidebar {
        transform: translateX(0);
        position: static;
    }
}