.maindiv {
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-height: 22rem;
    margin-top: 8.1rem;
    margin-bottom: 1rem;

}

.contentdiv {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #EDE8FA;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* ===================== individual Tab =============================== */
.individualtab {
    position: relative;
    width: 100%;
    max-width: 1448.64px;
    height: 857px;
    border-radius: 40px;
    border-top-left-radius: 0;
    z-index: 30;
    cursor: pointer;
}

.individualtab button {
    position: absolute;
    top: -88px;
    width: 344px;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.individualtab button span {
    margin-bottom: 8px;
}

/* ===================== Group Tab =============================== */


.grouptab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.grouptab .subgrouptab {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 857px;
    top: 0;
    left: 287px;
    border-radius: 20px;
    border-top-left-radius: 0;
    cursor: pointer;
}

.grouptab button {
    position: absolute;
    top: -88px;
    width: 395px;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.grouptab button span {
    margin-bottom: 8px;
    margin-left: 58px;
}


/* ===================== trial Tab =============================== */

.trialtab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.subtrialtab {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 857px;
    top: 0;
    left: 619px;
    border-radius: 20px;
    border-top-left-radius: 0;
    cursor: pointer;
}

.trialtab button {
    position: absolute;
    top: -88px;
    width: 400px;
    height: 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.trialtab button span {
    margin-bottom: 8px;
    margin-left: 20px;

}




@media (max-width: 1178px) {
    .maindiv {

        margin-top: 5rem;

    }

    .contentdiv {
        border-top-right-radius: 28.37px;
        border-bottom-left-radius: 28.37px;
        border-bottom-right-radius: 28.37px;

    }

    .individualtab button {
        top: -62.42px;
        width: 244px;
        height: 70.93px;
        border-top-left-radius: 28.37px;
        border-top-right-radius: 14.19px;
        font-size: 0.89rem;
    }


    .individualtab button span {
        margin-bottom: 0px;
    }

    .grouptab button {
        top: -62.42px;
        width: 280.17px;
        height: 70.93px;
        border-top-left-radius: 28.37px;
        border-top-right-radius: 14.19px;
        font-size: 0.89rem;
    }

    .grouptab button span {
        margin-bottom: 0px;
        margin-left: 8px;
    }

    .grouptab .subgrouptab {
        max-width: 283.72px;
        height: 607.76px;
        left: 203.57px;
        border-radius: 14.19px;
    }


    .trialtab button {
        top: -62.42px;
        width: 283.72px;
        height: 70.93px;
        border-top-left-radius: 28.37px;
        border-top-right-radius: 14.19px;
        font-size: 0.89rem;
    }

    .subtrialtab {
        max-width: 141.86px;
        height: 607.76px;
        left: 438.04px;
        border-radius: 14.19px;
    }


    .trialtab button span {
        margin-bottom: 0px;
        margin-left: 8px;

    }


}


@media (max-width: 814px) {
    .contentdiv {
        border-top-right-radius: 17.45px;
        /* 28.37 * 0.61475 */
        border-bottom-left-radius: 17.45px;
        border-bottom-right-radius: 17.45px;
    }

    .individualtab button {
        top: -38.35px;
        /* -62.42 * 0.61475 */
        width: 150px;
        height: 43.65px;
        /* 70.93 * 0.61475 */
        border-top-left-radius: 17.45px;
        /* 28.37 * scale */
        border-top-right-radius: 8.72px;
        /* 14.19 * scale */
        font-size: 0.547rem;
        /* 0.89 * scale */
    }

    .individualtab button span {
        margin-bottom: 0px;
    }



    .grouptab button {
        top: -38.35px;
        width: 172.3px;
        /* 280.17 * 0.61475 */
        height: 43.65px;
        border-top-left-radius: 17.45px;
        border-top-right-radius: 8.72px;
        font-size: 0.547rem;
    }

    .grouptab button span {
        margin-bottom: 0px;
        margin-left: 4.92px;
        /* 8px * 0.61475 */
    }



    .grouptab .subgrouptab {
        max-width: 174.48px;
        /* 283.72 * scale */
        height: 373.8px;
        /* 607.76 * scale */
        left: 125.24px;
        /* 203.57 * scale */
        border-radius: 8.72px;
    }

    .trialtab button {
        top: -38.35px;
        width: 174.48px;
        height: 43.65px;
        border-top-left-radius: 17.45px;
        border-top-right-radius: 8.72px;
        font-size: 0.547rem;
    }

    .trialtab button span {
        margin-bottom: 0px;
        margin-left: 4.92px;
    }



    .subtrialtab {
        max-width: 87.3px;
        /* 141.86 * scale */
        height: 373.8px;
        left: 269.53px;
        /* 438.04 * scale */
        border-radius: 8.72px;
    }
}


@media (max-width: 530px) {
    .maindiv {

        margin-top: 3rem;

    }
    .contentdiv {
        border-top-right-radius: 13.96px;
        /* 17.45 * 0.8 */
        border-bottom-left-radius: 13.96px;
        border-bottom-right-radius: 13.96px;
    }

    .individualtab button {
        top: -30.68px;
        width: 120px;
        height: 34.92px;
        border-top-left-radius: 13.96px;
        border-top-right-radius: 6.98px;
        font-size: 0.547rem;
    }

    .individualtab button span {
        margin-bottom: 0px;
    }



    .grouptab button {
        top: -30.68px;
        width: 137.84px;
        height: 34.92px;
        border-top-left-radius: 13.96px;
        border-top-right-radius: 6.98px;
        font-size: 0.547rem;
    }

    .grouptab button span {
        margin-bottom: 0px;
        margin-left: 3.94px;
    }



    .grouptab .subgrouptab {
        max-width: 139.58px;
        height: 299.04px;
        left: 100.19px;
        border-radius: 6.98px;
    }

    .trialtab button {
        top: -30.68px;
        width: 139.58px;
        height: 34.92px;
        border-top-left-radius: 13.96px;
        border-top-right-radius: 6.98px;
        font-size: 0.547rem;
    }

    .trialtab button span {
        margin-bottom: 0px;
        margin-left: 3.94px;
    }



    .subtrialtab {
        max-width: 69.84px;
        height: 299.04px;
        left: 215.62px;
        border-radius: 6.98px;
    }
}



@media (max-width: 422px) {


    .individualtab button {
        top: -23.01px;
        /* -30.68 * 0.75 */
        width: 90px;
        height: 26.19px;
        /* 34.92 * 0.75 */
        border-top-left-radius: 10.47px;
        border-top-right-radius: 5.24px;
        /* 6.98 * 0.75 */
        font-size: 0.547rem;
    }





    .grouptab button {
        top: -23.01px;
        width: 103.38px;
        /* 137.84 * 0.75 */
        height: 26.19px;
        border-top-left-radius: 10.47px;
        border-top-right-radius: 5.24px;
        font-size: 0.547rem;
    }

    .grouptab button span {
        margin-bottom: 0px;
        margin-left: 2.96px;
        /* 3.94 * 0.75 */
    }


    .grouptab .subgrouptab {
        max-width: 104.69px;
        /* 139.58 * 0.75 */
        height: 224.28px;
        /* 299.04 * 0.75 */
        left: 75.14px;
        /* 100.19 * 0.75 */
        border-radius: 5.24px;
    }

    .trialtab button {
        top: -23.01px;
        width: 104.69px;
        height: 26.19px;
        border-top-left-radius: 10.47px;
        border-top-right-radius: 5.24px;
        font-size: 0.547rem;
    }

    .trialtab button span {
        margin-bottom: 0px;
        margin-left: 2.96px;
    }



    .subtrialtab {
        max-width: 52.38px;
        /* 69.84 * 0.75 */
        height: 224.28px;
        left: 161.71px;
        /* 215.62 * 0.75 */
        border-radius: 5.24px;
    }
}