const bundles: any = [
{
  type: "bundles Membership",
  level: "Junior",
  timePeriod: "60mins",
  price: getPlanPrice("bundles", "Junior"),
  monthlyPayment: 140.0,
  sessionPrice: 35.0,
  payToETutors: 68.0,
  profitMargin: 72.0,
  profitMarginPercentage: 51,
  planType: "bundles",
  tutorLevel: "Junior",
  month: null,
  interval: "full",
  description: "4 Sessions/Month (Level 1-3) (Monthly Auto-Renewal)",
},
{
  type: "bundles Membership",
  level: "Senior",
  timePeriod: "60mins",
  price: getPlanPrice("bundles", "Senior"),
  monthlyPayment: 160.0,
  sessionPrice: 40.0,
  payToETutors: 78.0,
  profitMargin: 82.0,
  profitMarginPercentage: 51,
  planType: "bundles",
  tutorLevel: "Senior",
  month: null,
  interval: "full",
  description: "4 Sessions/Month (Level 4-7) (Monthly Auto-Renewal)",
},
{
  type: "bundles Membership",
  level: "Expert",
  timePeriod: "60mins",
  price: getPlanPrice("bundles", "Expert"),
  monthlyPayment: 180.0,
  sessionPrice: 45.0,
  payToETutors: 88.0,
  profitMargin: 92.0,
  profitMarginPercentage: 51,
  planType: "bundles",
  tutorLevel: "Expert",
  month: null,
  interval: "full",
  description: "4 Sessions/Month (Level 8-10) (Monthly Auto-Renewal)",
},
];